body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: $backgroundColor;
    font-family: $mainFont;
    font-size: 62.5%;
}

.wrapper {
    width:80%;
    max-width: 1080px;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}

button {
    background: $accentColor;
    border: 1px solid black;
    padding: 15px 20px;
    border-radius: 4px;
    font-size: 1.5rem;
    transition: 0.5s;
        &:hover {
            background: $accentActive;
            
                &:active {
                    box-shadow: inset 0px 0px 4px 1px rgba(0,0,0,0.75);
                }
        }
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

p {
    margin:0
}

// media queries ------

@media (max-width: 768px) {
    .wrapper {
        width:70%;
    }
}