header {
    // background-image: url("../assets/headerImg.jpg");
    // background-attachment: fixed;
    // background-size: cover;
    // background-position: center;
    height: 100vh;
}

nav {
    position: fixed;
    right:0px;
    padding: 20px 30px;
    // background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    background: $accentColor;
    border-radius: 0px 0px 10px 10px;
    z-index:666;
    font-size: 26px;
    p {
        margin: 0;
        padding: 0;
    }
    ul {
        color: $five;
    }
    li {
        padding-bottom: 10px;
        &:last-of-type {
            padding-bottom: 0px;
        }
    }

}

// nav p {
//     margin: 0;
//     padding: 0;
//     // color: #fff;
// }