// FONT
$main-font: 'Bebas Neue', cursive;
$secondary-font: 'Montserrat', sans-serif;

// COLOR

$backgroundColor: #001E49;  
$accentColor: #f1b400;
$neutralLight: #b1b3b4;
$darkShade: #2d2d2d;
$one: #09153B;
$three: #E2003B;