// FONT
$main-font: 'Bebas Neue', cursive;
$secondary-font: 'Montserrat', sans-serif;

// COLOR

$backgroundColor: #001E49;  
$accentColor: #F1B400;
$one: #09153B;
$three: #E2003B;
$neutralLight: rgb(177, 179, 180);
$five: #2d2d2d;