article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: #001E49;
  font-family: "Bebas Neue", cursive;
  font-size: 62.5%;
}

.wrapper {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

button {
  background: #f1b400;
  border: 1px solid black;
  padding: 15px 20px;
  border-radius: 4px;
  font-size: 1.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

button:hover {
  background: #c0920a;
}

button:hover:active {
  -webkit-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.75);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

@media (max-width: 768px) {
  .wrapper {
    width: 70%;
  }
}

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(252, 252, 252, 0)), to(#001e49)), url("../assets/header.jpg");
  background-image: linear-gradient(to bottom, rgba(252, 252, 252, 0), #001e49), url("../assets/header.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  margin: 0px;
  padding-top: 100px;
  font-family: "Bebas Neue", cursive;
  font-size: 8rem;
  color: #f1b400;
  text-shadow: 0px 0px 7px black;
}

.btnStart {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 60px;
}

.desktopNav {
  position: fixed;
  right: 0px;
  top: 0px;
  padding: 20px 30px;
  background: #f1b400;
  border-radius: 0px 0px 10px 10px;
  z-index: 666;
  font-size: 26px;
}

.desktopNav .socialLinks a {
  color: #2d2d2d;
}

.desktopNav .socialLinks a:hover {
  color: #001E49;
  text-shadow: 0px 0px 7px black;
}

.desktopNav .fabs {
  padding-bottom: 10px;
}

.desktopNav .fabs:last-of-type {
  padding-bottom: 0px;
}

@media (max-width: 510px) {
  h1 {
    font-size: 6rem;
    line-height: 1;
  }
}

@media (max-width: 480px) {
  .desktopNav {
    padding: 15px 10px;
    font-size: 22px;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 4rem;
  }
}

/* MAIN */
.questionContainer {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questionContainer .questionCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.questionImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(40% - 10px);
  margin-right: 10px;
  padding: 45px 30px;
  overflow: hidden;
  border-radius: 10px 0px 0px 10px;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  /* IE6-9 */
}

.questionImage img {
  width: 100%;
  max-width: 380px;
  height: auto;
  max-height: 352px;
  border-radius: 4px;
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  padding: 45px 30px;
  border-radius: 0px 10px 10px 0px;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  /* IE6-9 */
}

.question button {
  margin-top: 41px;
}

.answer {
  background: rgba(177, 179, 180, 0.6);
  padding: 25px 0px;
  margin: 10px 0px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.answer:first-of-type {
  margin: 0px 0px 10px 0px;
}

.answer:last-of-type {
  margin: 10px 0px 0px 0px;
}

.answer:hover {
  background: rgba(241, 180, 0, 0.6);
}

.btnContainer {
  width: 100%;
  max-width: 180px;
  margin-top: 50px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.btnContainer svg {
  position: relative;
  width: 150px;
  height: 50px;
  fill: #f1b400;
}

.btnContainer .btnNextHover {
  font-size: 1.5rem;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  padding: 0px 54px 32px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #f1b400;
  margin: 0px;
  z-index: 20;
  opacity: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.btnContainer .btnNextHover:hover {
  opacity: 0.8;
}

.resultsContainer {
  min-height: 100vh;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resultsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70vh;
  border-radius: 10px 10px;
  width: 100%;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  /* IE6-9 */
}

.resultsContent .correct {
  font-size: 3rem;
  color: #fff;
}

.resultsContent .score {
  font-size: 11rem;
  color: #f1b400;
}

.scoreText {
  font-size: 2rem;
  color: #001E49;
}

.playAgain {
  font-size: 1.5rem;
  color: #f1b400;
  margin-top: 20px;
}

@media (max-width: 1050px) {
  .question {
    padding: 25px 30px;
  }
  .answer {
    padding: 15px 0px;
    margin: 5px 0px;
  }
  .answer:first-of-type {
    margin: 0px 0px 5px 0px;
  }
  .answer:last-of-type {
    margin: 5px 0px 0px 0px;
  }
}

@media (max-width: 820px) {
  .question {
    padding: 15px 15px;
  }
  .questionImage {
    padding: 15px 15px;
  }
  .resultsBtn {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .questionContainer .questionCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .questionImage {
    margin: 40px 0px 20px;
    width: 100%;
    border-radius: 10px 10px;
  }
  .question {
    width: 100%;
    border-radius: 10px 10px;
    font-size: 1.5rem;
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.5)));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.5) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    /* IE6-9 */
  }
  .question button {
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .question {
    font-size: 1.2rem;
  }
  .answer {
    padding: 10px 0px;
  }
  .btnContainer {
    width: 100%;
    max-width: 180px;
    margin-top: 20px;
  }
  .btnContainer svg {
    width: 105px;
    height: 35px;
  }
  .btnContainer .btnNextHover {
    padding: 0px 36px 7px;
  }
  .resultsContent .correct {
    font-size: 2.1rem;
    color: #fff;
  }
  .resultsContent .score {
    font-size: 8rem;
    color: #f1b400;
  }
  .scoreText {
    font-size: 1.7rem;
  }
}

footer {
  background: #2d2d2d;
}

.footerContent {
  padding: 10px 0px;
}

.footerContent p {
  color: #b1b3b4;
  font-size: 1rem;
}
